
<div class="errorDiv">
    <div class="subDiv">
        <h1>{{ data.customMessageOne }}</h1>
        <h2>{{ data.customMessageTwo }}</h2>
        <h3>{{ data.status }}</h3>
        <h4>{{ data.message }}</h4>
        <a href="/">HOME</a>
        <img src="images/crying.png" alt="cry">
    </div>
</div>