<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="images/star.ico">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <h1 class="header-title">MY FAVORITE THINGS!</h1>
    </header>
    {{{body}}}
    <script src="js/main.js"></script>
</body>
</html>