@mixin desktopBig {
    @media (min-width: #{830px}){
        @content;
    }
}

.things-con {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    .thing-div {
        margin: 0 auto;
        text-align: center;
        max-width: 700px;
        height: 100%;
        img {
            width: 100%;
            opacity: .5;
        }
        img:hover {
            opacity: 1;
        }
        .img-dice {
            width: 50%;
        }
        .img-computer, .img-dice {
            padding: 20px 0px;
        }
        @include desktopBig {
            .img-caffeine {
                width: 80%;
            }
        }
    }
    .main-title {
        font-size: 30px;
        padding-bottom: 15px;
        border-bottom: solid 10px #FFFFFF;
        color: #FFFFFF;
        @include desktopBig{
            font-size: 40px;
        }
    }
    .arrow {
        width: 100px;
        max-height: 560px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object {
            pointer-events: none;
            margin: 10px;
            width: 50px;
            margin-top: 100px;
        }
    }
    .right, .left {
        opacity: 0.1;
    }
}